<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>updateActivity</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/theme-chalk.css">
    <script src="/js/vue.mini.js"></script>
    <script src="/js/element.js"></script>
    <script src="/js/axios.js"></script>
</head>
<body>
<div id="app" style="min-width:1027px">
    <el-scrollbar>
        <el-container>
            <el-main>
                <el-form label-width="150px" :model="item" class="form-insert" :rules="rules" ref="ruleForm"
                         label-position="left" label-width="100%">
                    <el-form-item>
                        <div class="tag">转盘活动配置</div>
                    </el-form-item>

                    <el-form-item label="活动标题" prop="activityName">
                        <el-input v-model="item.activityName"></el-input>
                    </el-form-item>
                    <el-form-item label="关联规则" prop="ruleId">
                        <el-select v-model="item.ruleId" disabled filterable placeholder="请选择">
                            <el-option
                                    v-for="rule in list"
                                    :key="rule.id"
                                    :label="rule.id"
                                    :value="rule.id">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="活动时间" prop="beginTime">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item prop="noDrawnProbability">
                                    <el-date-picker label="left" value-format="timestamp" v-model="item.beginTime"
                                                    type="datetime"
                                                    :picker-options="pickerBeginDateBefore" placeholder="选择日期">
                                    </el-date-picker>
                                    至
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="endTime">
                                    <el-date-picker value-format="timestamp" v-model="item.endTime" type="datetime"
                                                    :picker-options="pickerBeginDateAfter" placeholder="选择日期">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form-item>

                    <el-form-item label="活动用户" prop="activityType">
                        <el-radio-group v-model="item.activityType" size="mini">
                            <el-radio :label="102" border>用户端</el-radio>
                            <el-radio :label="101" border>商家端</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="区分新老客" prop="distinctNewOld">
                        <el-radio-group v-model="item.distinctNewOld" size="mini" @change="change">
                            <el-radio :label="0" border>不区分</el-radio>
                            <el-radio :label="1" border>区分</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="奖品与概率" prop="noDrawnProbability">
                        <el-row>
                            <div style="display: inline-block;width: 20px">
                                1:
                            </div>
                            <div style="display: inline-block;width: 400px">
                                <el-form-item prop="noDrawnProbability">
                                    <el-input-number v-model="item.noDrawnProbability" controls-position="right"
                                                     size="mini" :precision="2"
                                                     @change="handleChange" :min="1"
                                                     :max="100"></el-input-number>
                                    % 谢谢惠顾
                                </el-form-item>
                            </div>
                            <div style="display: inline-block;width: 400px" v-show="isShow">
                                <el-form-item prop="noOldDrawnProbability">
                                    <el-input-number v-model="item.noOldDrawnProbability" controls-position="right"
                                                     size="mini" :precision="2"
                                                     @change="handleChange" :min="1"
                                                     :max="100"></el-input-number>
                                    % 谢谢惠顾
                                </el-form-item>
                            </div>
                        </el-row>
                        <div style="font-size: 12px;">
                            <el-row type="flex">
                                <div style="display: inline-block;width: 440px">请配置不中奖概率</div>
                                <div style="display: inline-block;width: 400px" v-show="isShow">请配置老用户不中奖概率</div>
                            </el-row>
                        </div>
                    </el-form-item>
                    <el-form-item
                            width="100%"
                            v-for="(prize, index) in item.prizes"
                            :key="index">
                        <el-row style="display: flex;">
                            <div style="display: inline-block;width: 20px">
                                {{index+2}}:
                            </div>
                            <div style="display: inline-block;width: 200px">
                                <el-form-item :prop="`prizes.${index}.prizeType`" :rules="rules.prizeType">
                                    <el-radio-group v-model="prize.prizeType" @change="hidd(prize)" size="mini">
                                        <el-radio :label="2" border>实物</el-radio>
                                        <el-radio :label="1" border>虚拟</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </div>
                            <div style="display: inline-block;width: 150px">
                                <el-form-item :prop="`prizes.${index}.drawnProbability`"
                                              :rules="rules.drawnProbability">
                                    <el-input-number v-model="prize.drawnProbability" controls-position="right"
                                                     size="mini" :precision="2"
                                                     @change="handleChange" :min="0" :max="100"
                                                     placeholder="中奖概率"></el-input-number>
                                    %
                                </el-form-item>
                            </div>
                            <div style="display: inline-block;width: 150px" v-show="isShow">
                                <el-form-item :prop="`prizes.${index}.oldDrawnProbability`"
                                              :rules="rules.drawnProbability">
                                    <el-input-number v-model="prize.oldDrawnProbability" controls-position="right"
                                                     size="mini" :precision="2"
                                                     @change="handleChange" :min="0" :max="100"></el-input-number>
                                    %
                                </el-form-item>
                            </div>
                            <div style="display: inline-block;width: 100px">
                                <el-form-item :prop="`prizes.${index}.prizeName`" :rules="rules.prizeName">
                                    <el-tooltip placement="top" effect="light">
                                        <div slot="content">{{prize.prizeName}}</div>
                                        <el-input v-model="prize.prizeName" size="mini" placeholder="奖品名"></el-input>
                                    </el-tooltip>
                                </el-form-item>
                            </div>
                            <div style="display: inline-block;width: 150px">
                                <el-form-item :prop="`prizes.${index}.prizeSurplusCount`"
                                              :rules="rules.prizeSurplusCount">
                                    <el-input-number v-model="prize.prizeSurplusCount" controls-position="right"
                                                     size="mini"
                                                     @change="handleChange" :min="0" :max="10000"
                                                     placeholder="奖品库存"></el-input-number>
                                    个
                                </el-form-item>
                            </div>
                            <div style="display: inline-block;width: 100px">
                                <el-form-item :prop="`prizes.${index}.prizeImage`" :rules="rules.prizeImage">
                                    <el-upload
                                            :show-file-list="false"
                                            action="/activity/uploadImage/"
                                            :on-preview="handlePreview"
                                            :on-remove="handleRemove"
                                            :before-remove="beforeRemove"
                                            :before-upload="beforeUpload"
                                            :name="`prizes.${index}`"
                                            accept=".jpg,.jpeg,.png,.JPG,.JPEG,.PNG,"
                                            :on-success="handleUploadSuccess">
                                        <el-button size="mini" type="primary">选择文件</el-button>
                                        <div slot="tip" class="el-upload__tip"><img slot="tip" class="el-upload__tip"
                                                                                    width="60px" height="60px"
                                                                                    :src="prize.prizeImage" alt="">
                                        </div>
                                    </el-upload>
                                </el-form-item>
                            </div>
                            <div style="display: inline-block;width: 100px" v-if="prize.prizeType!='2'">
                                <el-form-item :prop="`prizes.${index}.receiveLinks`" :rules="rules.receiveLinks">
                                    <el-tooltip placement="top" effect="light">
                                        <div slot="content">{{prize.receiveLinks}}</div>
                                        <el-input v-model="prize.receiveLinks" size="mini"
                                                  placeholder="领奖链接"></el-input>
                                    </el-tooltip>
                                </el-form-item>
                                </el-col>
                            </div>
                            <div style="display: inline-block;width: 100px">
                                <el-button @click.prevent="removePrize(prize)" size="mini">删除</el-button>
                            </div>
                        </el-row>
                    </el-form-item>
                    <el-form-item v-show="row">
                        <div style="font-size: 12px;">
                            <el-row :gutter="2">
                                <div style="display: inline-block;width: 200px"></div>
                                <div style="display: inline-block;width: 150px">请配置中奖概率</div>
                                <div style="display: inline-block;width: 150px" v-show="isShow">请配置老用户中奖概率</div>
                                <div style="display: inline-block;width: 100px">请配置奖品名</div>
                                <div style="display: inline-block;width: 150px">请配置奖品库存</div>
                                <div style="display: inline-block;width: 100px"></div>
                                <div style="display: inline-block;width: 200px">实物则不填</div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="addPrize">添加奖品</el-button>
                    </el-form-item>
                    <el-form-item label="活动规则" prop="drawRule">
                        <el-input type="textarea" v-model="item.drawRule"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <div class="tag">分享卡片配置</div>
                    </el-form-item>
                    <el-form-item label="分享卡片标题" prop="activityShareTitle">
                        <el-input v-model="item.activityShareTitle"></el-input>
                    </el-form-item>
                    <el-form-item label="分享卡片图片" prop="activityShareImage">
                        <el-upload
                                :show-file-list="false"
                                action="/activity/uploadImage/"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :before-remove="beforeRemove"
                                :before-upload="beforeUpload"
                                :name="`item.activityShareImage`"
                                accept=".jpg,.jpeg,.png,.JPG,.JPEG,.PNG,"
                                :on-success="handleUploadSuccess">
                            <el-button size="small" type="primary">选择文件</el-button>
                            <span class="el-upload__tip">尺寸建议:200*200</span>
                            <div slot="tip" class="el-upload__tip"><img slot="tip" class="el-upload__tip" width="60px"
                                                                        height="60px" :src="item.activityShareImage"
                                                                        alt=""></div>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="分享卡片文案" prop="activityShareContent">
                        <el-input v-model="item.activityShareContent"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit('ruleForm')">保存</el-button>
                        <el-button @click="back()">放弃</el-button>
                    </el-form-item>

                </el-form>
            </el-main>
        </el-container>
    </el-scrollbar>
</div>
<script>

    new Vue({
        el: '#app',
        data() {
            return {
                isShow: false,
                offset: 1,
                row: true,
                activityShareImage: [],
                item: {
                    span: 4,
                    isShow: true,
                    offset: 4,
                    noOffset: 4,
                    radio: 4,
                    prizeName: 2,
                    prizeImage: 3,
                    activityName: '',
                    noId: '',
                    ruleId: '',
                    beginTime: '',
                    endTime: '',
                    activityContent: '',
                    drawRule: '',
                    activityShareTitle: '',
                    activityShareContent: '',
                    activityShareImage: '',
                    activityType: '',
                    distinctNewOld: '',
                    noDrawnProbability: '',
                    noOldDrawnProbability: '',
                    prizes: [{
                        id: '',
                        prizeName: '',
                        prizeType: '',
                        drawnProbability: '',
                        prizeImage: '',
                        prizeStock: '',
                        prizeSurplusCount: '',
                        isShow: true,
                        receiveLinks: '',
                        oldDrawnProbability: '',
                    }],
                },
                list: [{
                    id: '',
                }],
                rules: {
                    activityName: [
                        {required: true, message: '请填写活动H5页面的页面标题', trigger: 'blur'},
                        {min: 1, max: 1024, message: '长度在 1 到 1024 个字符', trigger: 'blur'}
                    ],
                    ruleId: [
                        {required: true, message: '请选择关联规则', trigger: 'blur'},
                    ],
                    beginTime: [
                        {required: true, message: '请配置活动开始时间', trigger: 'blur'},
                    ],
                    endTime: [
                        {required: true, message: '请配置活动结束时间', trigger: 'blur'},
                    ],
                    drawRule: [
                        {required: true, message: '请填写活动规则', trigger: 'blur'},
                        {min: 1, max: 5120, message: '长度在 1 到 5120 个字符', trigger: 'blur'}
                    ],
                    activityShareTitle: [
                        {required: true, message: '请配置分享后分享卡片标题', trigger: 'blur'},
                        {min: 1, max: 18, message: '长度在 1 到 18 个字符', trigger: 'blur'}
                    ],
                    activityShareContent: [
                        {required: true, message: '请配置分享后分享卡片文案', trigger: 'blur'},
                        {min: 1, max: 25, message: '长度在 1 到 25 个字符', trigger: 'blur'}
                    ],
                    activityShareImage: [
                        {required: true, message: '请配置分享后分享卡片图片', trigger: 'blur'},
                    ],
                    distinctNewOld: [
                        {required: true, message: '请选择新老用户', trigger: 'blur'},
                    ],
                    activityType: [
                        {required: true, message: '请选择活动用户', trigger: 'blur'},
                    ],
                    prizeName: [
                        {required: true, message: '请填写奖品名', trigger: 'blur'},
                        {min: 1, max: 18, message: '长度在 1 到 18 个字符', trigger: 'blur'}
                    ],
                    prizeType: [
                        {required: true, message: '请选择奖品类型', trigger: 'blur'},
                    ],
                    drawnProbability: [
                        {required: true, message: '请配置中奖概率', trigger: 'blur'},
                    ],
                    prizeImage: [
                        {required: true, message: '请配置奖品图片', trigger: 'blur'},
                    ],
                    prizeSurplusCount: [
                        {required: true, message: '请配置奖品库存', trigger: 'blur'},
                    ],
                    receiveLinks: [
                        {required: true, message: '请填写领奖链接，实物则不填', trigger: 'blur'},
                    ],
                    noDrawnProbability: [
                        {required: true, message: '请配置不中奖概率', trigger: 'blur'},
                    ],
                    noOldDrawnProbability: [
                        {required: true, message: '请配置老用户不中奖概率', trigger: 'blur'},
                    ],
                    oldDrawnProbability: [
                        {required: true, message: '请配置老用户中奖概率', trigger: 'blur'},
                    ],
                },
                pickerBeginDateBefore: {
                    disabledDate: (time) => {
                        let beginDateVal = this.item.endTime;
                        if (beginDateVal != "") {
                            return time.getTime() > this.item.endTime;
                        }

                    }
                },
                pickerBeginDateAfter: {
                    disabledDate: (time) => {
                        let startDateVal = this.item.beginTime;
                        return time.getTime() < startDateVal;
                    }
                },
            }
        },
        methods: {
            beforeUpload(file) {
                return true
            },
            handleRemove(file, fileList) {
                let prop = file.response.prop;
                if (prop.indexOf("prizes") != -1) {
                    let index = prop.replace("prizes.", "");
                    this.item.prizes[index].prizeImage = '';
                } else if (prop.indexOf("item") != -1) {
                    let index = prop.replace("item.", "");
                    this.item[index] = '';
                }
            }
            ,
            handlePreview(file) {
            }
            ,
            beforeRemove() {
                return this.$confirm(`确定移除？`);
            },
            hidd(prize) {
                if (prize.prizeType == '1') {
                    prize.isShow = true;
                    this.item.isShow = true;
                    this.item.span = 4;
                    this.item.radio = 4;
                    this.item.offset = 4;
                    this.item.noOffset = 4;
                    this.item.prizeName = 2;
                    if (this.isShow) {
                        //alert('虚拟  区分')
                        this.item.radio = 4;
                        this.item.noOffset = 2;
                        this.item.prizeImage = 2;
                    } else if (!this.isShow) {
                        //alert('虚拟 不区分')
                        this.item.span = 4;
                        this.item.radio = 5;
                        this.item.offset = 4;
                        this.item.prizeName = 2;
                        this.item.prizeImage = 3;
                    }
                } else {
                    this.item.noOffset = 4;
                    prize.isShow = false;
                    this.item.isShow = false;
                    this.item.radio = 5;
                    if (this.isShow) {
                        //alert('实物 区分')
                        this.item.span = 4;
                        this.item.radio = 5;
                        this.item.offset = 4;
                        this.item.noOffset = 2;
                        this.item.prizeName = 2;
                        this.item.prizeImage = 2;
                    } else {
                        //alert('实物 不区分')
                        this.item.span = 5;
                        this.item.offset = 5;
                        this.item.prizeName = 3;
                        this.item.prizeImage = 3;
                    }

                }
            },
            change(val) {
                console.log(val, 'val');
                if (val == '1') {
                    this.isShow = true;
                    this.offset = 2;
                    this.item.span = 4;
                    this.item.offset = 4;
                    this.item.noOffset = 4;
                    this.item.prizeName = 2;
                    if (this.item.isShow) {
                        //   alert('区分 虚拟')
                        this.item.radio = 4;
                        this.item.noOffset = 2;
                        this.item.prizeImage = 2;
                    } else {
                        //    alert('区分 实物')
                        this.item.span = 4;
                        this.item.radio = 5;
                        this.item.offset = 4;
                        this.item.noOffset = 2;
                        this.item.prizeName = 2;
                        this.item.prizeImage = 2;
                    }

                } else if (val == '0') {
                    this.item.noOffset = 4;
                    this.isShow = false;
                    this.offset = 1;
                    if (this.item.isShow) {
                        //   alert('不区分 虚拟')
                        this.item.span = 4;
                        this.item.radio = 4;
                        this.item.offset = 4;
                        this.item.prizeName = 2;
                        this.item.prizeImage = 3;
                    } else {
                        //  alert('不区分 实物')
                        this.item.span = 5;
                        this.item.radio = 5;
                        this.item.offset = 5;
                        this.item.prizeName = 3;
                        this.item.prizeImage = 2;
                    }
                }

            },
            back() {
                this.$confirm('确定要放弃吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '确认放弃修改!',
                    });
                    window.location.href = "/activity/index";
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });
            },
            handleChange(value) {
            }
            ,
            handleUploadSuccess(res) {
                let prop = res.prop;
                if (prop.indexOf("prizes") != -1) {
                    let index = prop.replace("prizes.", "");
                    this.item.prizes[index].prizeImage = res.url;
                } else if (prop.indexOf("item") != -1) {
                    let index = prop.replace("item.", "");
                    this.item[index] = res.url;
                }
            },
            removePrize(item) {
                this.$confirm('您是否要删除奖品信息？', '提示', {
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var index = this.item.prizes.indexOf(item);
                    if (this.item.prizes.length < 1) {
                        this.$message({
                            showClose: true,
                            message: '奖品数请保持偶数',
                            type: 'error'
                        });
                    } else if (item.id != null && item.id != "undefined"&&item.id != '') {
                        this.$message({
                            showClose: true,
                            message: '已保存的商品无法删除',
                            type: 'error'
                        });
                    } else {
                        if (index !== -1) {
                            this.item.prizes.splice(index, 1)
                        }
                        this.$message({
                            type: 'success',
                            message: '已删除!',
                        });
                    }

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });

            },
            addPrize() {
                this.item.prizes.push({
                    id:'',
                    prizeName: '',
                    prizeType: '',
                    drawnProbability: '',
                    prizeImage: '',
                    prizeSurplusCount: '',
                    receiveLinks: '',
                    isShow: true,
                    oldDrawnProbability: '',
                });
            },

            onSubmit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.item.prizes.length <= 0 || this.item.prizes.length % 2 == 0) {
                            this.$message({
                                showClose: true,
                                message: '奖品数请保持偶数',
                                type: 'error'
                            });
                            return false;
                        }
                        if (this.item.prizes.length > 11 || this.item.prizes.length < 3) {
                            this.$message({
                                showClose: true,
                                message: '奖品最少4个，最多12个',
                                type: 'error'
                            });
                            return false;
                        }
                        let that = this;
                        console.log('submit!');
                        let list = that.item.prizes;
                        let j;
                        for (j = 0; j < list.length; j++) {
                            list[j].prizeStock = list[j].prizeSurplusCount;
                        }
                        let lcd = JSON.parse(JSON.stringify(that.item));
                        axios.post('/activity/saveActivity/', lcd, {
                            headers: {
                                'Content-Type': 'application/json;charset=UTF-8'  //这里加上头部信息
                            }
                        }).then(function (response) {
                            if (response.status === 200 && response.data > 0) {
                                alert("修改成功！");
                                window.location.href = "/activity/index";
                            } else if (response.status === 200 && response.data == "repeat") {
                                alert("活动标题已存在！");
                            } else {
                                console.log(response);
                                alert("修改失败！");
                            }
                        }).catch(function (error) {
                            console.log(error);
                            alert("操作失败！");
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

            }
        }
        ,
        mounted: function () {
            let that = this;
            axios.get("/activity/allRule").then(function (response) {
                that.list = response.data;
            }).catch(function (error) {
                console.log(error);
            });
            let id = location.href; //取得整个地址栏
            let num = id.indexOf("?");
            id = id.substr(num + 1);
            id = id.substr(3);
            axios.get("/activity/activityById", {
                params: {'id': id}
            }).then(function (response) {
                that.item = response.data;
                that.isShow = false;
                that.offset = 1;
                that.row = true;
                that.item.span = 4;
                that.item.isShow = true;
                that.item.radio = 4;
                that.item.prizeName = 2;
                that.item.prizeImage = 3;

                if (that.item.distinctNewOld == '1') {
                    that.isShow = true;
                    that.offset = 2;
                } else {
                    that.isShow = false;
                    that.offset = 1;
                }
                let i;
                for (i = 0; i < that.item.prizes.length; i++) {
                    if (that.item.prizes[i].prizeType == "1") {
                        that.item.span = 4;
                        that.item.radio = 4;
                        that.item.offset = 4;
                        that.item.noOffset = 4;
                        that.item.prizeName = 2;
                        that.item.isShow = true;
                        if (that.item.distinctNewOld == '1') {
                            that.item.radio = 5;
                            that.item.span = 4;
                            that.item.prizeName = 2;
                        } else {
                            that.item.radio = 5;
                            that.item.span = 5;
                            that.item.prizeName = 3;
                        }
                    } else if (that.item.prizes[i].prizeType == "2") {
                        that.item.noOffset = 4;
                        that.item.radio = 5;
                        that.item.span = 5;
                        that.item.prizeName = 3;
                        if (that.item.distinctNewOld == '1') {
                            that.item.radio = 5;
                            that.item.span = 4;
                            that.item.prizeName = 2;
                        } else {
                            that.item.radio = 5;
                            that.item.span = 5;
                            that.item.prizeName = 3;
                        }
                    }
                }
            }).catch(function (error) {
                console.log(error);
            });

        },
    })
    ;

</script>
</body>
</html>